<!DOCTYPE html>
<html>

  <title>The Continuos Delivery alliance - 5th gathering</title>
  <meta name="description" content="The Continuos Delivery alliance">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=yes">
  <link rel="stylesheet" href="../reveal.js/css/reveal.css">
  <link rel="stylesheet" href="../reveal.js/css/theme/simple.css" id="theme">
  <link rel="stylesheet" href="../theme/alliance-simple.css" id="theme">
<body>
  <div class="reveal" style="margin:50px;">
    <h3>{{ page.title }}</h1>
    {{ content }}
  </div>
</body>
</html>
